<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nibbler.ClientSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nibbler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nibbler.ClientSettings>
            <setting name="SC1_INSTALL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SC2_INSTALL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="WC3_INSTALL_PATH" serializeAs="String">
                <value />
            </setting>
        </Nibbler.ClientSettings>
        <Nibbler.Properties.Settings>
            <setting name="wc3_install_path" serializeAs="String">
                <value />
            </setting>
            <setting name="sc2_install_path" serializeAs="String">
                <value />
            </setting>
            <setting name="sc_install_path" serializeAs="String">
                <value />
            </setting>
        </Nibbler.Properties.Settings>
    </userSettings>
</configuration>